<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="MyGameLib.MyGame" behaviorConfiguration="MyGameBehaviour">
        <endpoint address="http://localhost/MyGame"
                  binding="basicHttpBinding"
                  contract="MyGameLib.IMyGame"/>
        
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MyGame"/>
          </baseAddresses>
        </host>
      </service> 
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyGameBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>