<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITotalMath" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1/Math" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ITotalMath" contract="ServiceReference1.ITotalMath"
                name="WSHttpBinding_ITotalMath">
                <identity>
                    <userPrincipalName value="DESKTOP-7OTAC9O\Luda" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>